langchain-community 
pypdf 
chromadb 
torch --index-url https://download.pytorch.org/whl/cpu
transformers
sentence-transformers[cpu]
flask 
streamlit 
langchain 
langchain-huggingface 
langchain-chroma 
langchain-ollama
